recursive-include **/resources/**/ *.json
recursive-include **/resources/**/ *.txt
graft hulqcorpustools/hulqtransliterator/onlinetransliterator/plugins
graft hulqcorpustools/hulqtransliterator/onlinetransliterator/static
graft hulqcorpustools/hulqtransliterator/onlinetransliterator/templates
global-exclude *.pyc
prune */__pycache__