recursive-include **/resources/**/ *.json
recursive-include **/resources/**/ *.txt
graft hulqcorpustools/webapps/plugins
graft hulqcorpustools/webapps/static
graft hulqcorpustools/webapps/templates
global-exclude *.pyc
prune */__pycache__