
label {
    font-weight: bold;
}

body {
    background-color: lightgray;
    font-family:Arial, Helvetica, sans-serif
}

header, h2 {
    text-align: center;
    margin: 5px;
    /* padding: 10px; */
}

select {
    font-size:larger
}

.all-transliterators-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.text-box-and-format-selection-container {
    padding: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: bisque
}


.transliterator-container {
    
    background-color: cornsilk;
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 10px;
    
    
}

.format-selection {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    width: 95%;
    height: 75px;
    font-size: medium;
}
