.advanced {
    display: none;
}

/* caption {
    font-size: 20pt
} */

li.files-searched {
    font-size: 1em;
    text-align: left
}

div.table-info > * {
    font-size: 1em;
    margin: 6px 6px;
}

.info-button {
    font-size: .25em;
    vertical-align: super;
}

.invisible {
    visibility: hidden
}

div.results {
    margin-top: 6px;
    margin-bottom: 6px;
}